---
- name: Ensure apt cache is up to date
  ansible.builtin.apt:
    update_cache: true
  when: ansible_os_family == 'Debian'
- name: Ensure apk cache is up to date
  community.general.apk:
    update_cache: true
  when: ansible_os_family == 'Alpine'