[Unit]
Description=Grafana visualization and monitoring platform
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User={{ grafana_user }}
Group={{ grafana_group }}
WorkingDirectory={{ grafana_data_dir }}
ExecStart={{ grafana_bin_dir }}/grafana-server --homepath={{ grafana_data_dir }} --config={{ grafana_config_dir }}/grafana.ini
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
