---
- name: Test connectivity and gather facts from all hosts
  hosts: all
  gather_facts: true
  tasks:
    - name: Ping all hosts
      ansible.builtin.ping:

    - name: Display gathered facts
      ansible.builtin.debug:
        msg: |
          Host: {{ inventory_hostname }}
          OS Family: {{ ansible_os_family }}
          Distribution: {{ ansible_distribution }} {{ ansible_distribution_version }}
          IP Address: {{ ansible_default_ipv4.address }}
          Hostname: {{ ansible_hostname }}
