[Unit]
Description=Loki log aggregation system
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=loki
Group=loki
WorkingDirectory={{ loki_data_dir }}
ExecStart=/usr/local/bin/loki -config.file=/etc/loki/loki-config.yml
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
