[Unit]
Description=Mimir time-series database
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=mimir
Group=mimir
WorkingDirectory={{ mimir_data_dir }}
ExecStart=/usr/local/bin/mimir -config.file=/etc/mimir/mimir-config.yml
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
